<ion-header>

  <ion-navbar>
    <ion-title>{{_genre?.getName()}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="cover-image" [ngStyle]="setStreamMetaImage(_meta?.LargeImage)"></div>
  <div class="meta">
      <img [src]="setSmallStreamMetaImage(_meta?.Image)" alt="">
      <p class="station" *ngIf="_meta">{{_activeStation?.getName()}}</p>
      <p class="song" *ngIf="_meta">{{_meta?.Artist}} - {{_meta?.Title}}</p>
  </div>
  <ion-list>
    <button ion-item class="genres-list" *ngFor="let station of _stations" (tap)="streamStation(station)">
      <p>
        {{station.name}}
      </p>
      <ion-icon [color]="dark" [name]="_streamPaused == false && isSelectedStation(station.id) ? 'pause': 'play'" item-end></ion-icon>
    </button>
  </ion-list>
</ion-content>
